<!DOCTYPE html>
<html>
  <head>
    <% include ../views/partials/head.ejs %>
    <title><%= message._2 %> | New Tracks</title>
    <style>
      html, body {
        height: 100%;
        margin: 0;
        color: white;
      }
      h1 {
        margin-top: 1rem;
      }
      .cover {
        height: 100%;
        background: url("/img/<%= image %>.jpg"), #333;
        background-size: cover;
        background-position: <%= position %>;
      }
      .credit {
        position: absolute;
        bottom: 0.2em;
        right: 1em;
      }
      .credit > a {
        color: #ddd;
      }
    </style>
  </head>
  <body>
    <div class="cover">
      <%- include('../views/partials/navbar.ejs', {user: user} ) %>
      <div class="container">
        <h1 class="text-center"><%= message._1 %></h1>
        <h3 class="text-center text-info"><%= message._2 %></h3>
      </div>
    </div>
    <div class="credit">
      <a href="<%= credit %>" target="_blank"><h6>Photo Credit</h6></a>
    </div>
    <% include ../views/partials/scripts.ejs %>
  </body>
</html>
