<!DOCTYPE html>
<html>
  <head>
    <%- include('../views/partials/head.ejs'); %>
    <title>Sign In | New Tracks</title>
  </head>
  <body>
    <%- include('../views/partials/navbar.ejs', {user: user}) %>
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-4">Sign In</h1>
      </div>
    </div>
    <div class="container">
      <% if(message != '') { %><h4 class="text-danger"><%= message %></h4><% } %>
      <div class="d-flex justify-content-end">
        <a href="/auth/soundcloud"><img alt="login using SoundCloud" src="https://connect.soundcloud.com/2/btn-connect-l.png"></a>
      </div>
      <form action="/login/?hash=<%= hash %>" method="post">
        <div class="form-group <%= error['username'] %>">
          <label for="username">Username</label>
          <input type="text" class="form-control" autofocus placeholder="username" id="username" name="username" autocomplete="username" required="true">
        </div>
        <div class="form-group <%= error['password'] %>">
          <label for="password">Password</label>
          <input type="password" class="form-control" placeholder="password" id="password" name="password" autocomplete="current-password" required="true">
        </div>
        <div class="checkbox">
          <label for="remember_me">
            <input type="checkbox" id="remember_me" name="remember_me" checked> Remember Me
          </label>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
    <%- include('../views/partials/scripts.ejs') %>
  </body>
</html>
