<!DOCTYPE html>
<html>
  <head>
    <%- include('../views/partials/head.ejs') %>
    <title><%= username %>'s Profile | New Tracks</title>
  </head>
  <body>
    <%- include('../views/partials/navbar.ejs', {user: user}) %>
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-4"><%= username %>'s Tracks</h1>
      </div>
    </div>
    <div class="container">
      <% if(user && user.username === username) { %>
      <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        This is what your profile will look like to other users if your profile is pubilc.
      </div>
      <% } %>
      <% if(tracks.length > 0) { %>
        <table class="table">
          <tr>
            <th>Track Name</th>
            <th>Artist</th>
          </tr>
          <% tracks.forEach(function(track) { %>
            <tr>
              <td><a class="btn-link" href="../#/<%= track.trackID %>" target="_blank"><%= track.title %></a></td>
              <td><%= track.artist %></td>
            </tr>
          <% }); %>
        </table>
      <% } else { %>
        <h4 class="text-info">No tracks have been added by <%= username %></h4>
        <br>
      <% } %>
    </div>
    <%- include('../views/partials/scripts.ejs') %>
  </body>
</html>
